body{

    font-size: 100;
    margin-left: 2em;
    margin-right: 2em;
}
header{
    padding-bottom: 3em;
    border-bottom: 3px solid red;
    margin-bottom: 0;

}
h1{
    font-size: 500%;
    margin-bottom: 0;

}